/* Init */
.public .home .init
{
	background: url('/public/assets/home.jpg') no-repeat;
	background-size: 100%;
}

@media screen and (max-width: 768px)
{
	.public .home .init
	{
		background-size: cover;
	}
}

.public .home .init .image
{
	display: none;
}

@media screen and (min-width: 768px)
{
	.public .home .init .image
	{
		display: inline-block;
	}
}

/* Wellcome */
.public .welcome
{
	padding: 25px 0px;
}

@media screen and (min-width: 768px)
{
	.public .welcome
	{
		height: 100vh;
	}
}

@media screen and (min-width: 768px)
{
	.public .welcome > .crack-ux-content
	{
		position: relative;
	}
}

@media screen and (min-width: 768px)
{
	.public .welcome > .crack-ux-content > .content
	{
		position: absolute !important;
		top: 50% !important;
		left: 50% !important;
		transform: translate(-50%, -50%) !important;
	}
}

.public .welcome .crack-ux-text
{
	font-size: 16px;
	color: #999999;
}

.public .welcome .crack-ux-header img
{
	filter: opacity(0.25) drop-shadow(0 0 0 #999999);
}

.public .welcome .crack-ux-footer img
{
	transform: rotate(180deg);
	filter: opacity(0.25) drop-shadow(0 0 0 #999999);
}