/* General */
.public .title
{
	font-size: 24;
	color: #232323;
}

.public .subtitle
{
	font-size: 24;
	color: #232323;
}

.public .section
{
	min-height: 100vh;
}

.public .section:nth-child(even)
{
	background: #ffffff;
}

.public .section:nth-child(odd)
{
	background: #f1f1f1;
}

/* Specific */
.public > .header
{
	background-color: #121212;
	padding: 15px;
}

@media screen and (min-width: 768px)
{
	.public > .header
	{
		background-color: transparent;
		padding: 15px 35px;
	}
}

.public > .header > .logo .crack-ux-text
{
	line-height: 1.25em;
	letter-spacing: 3px;
}

.public > .header .menu-icon
{
	position: absolute;
	background-color: #121212;
	color: #cccccc;
	top: 25px;
	right: 15px;
}

@media screen and (min-width: 768px)
{
	.public > .header .menu-icon
	{
		display: none;
	}	
}

.public > .header > .menu .crack-ux-button .crack-ux-text
{
	color: #aaaaaa;
	transition: color 0.30s;
	font-size: 16px;
}

.public > .header > .menu
{
	display: block;
	background-color: #121212;
	transition: height 0.30s;
	overflow: hidden;
}

@media screen and (min-width: 768px)
{
	.public > .header > .menu
	{
		background-color: transparent;
		display: inline-block;
		margin-top: 0px;
	}
}

.public > .header > .menu.show
{
	height: calc(100vh - 95px);
	margin-top: 50px;
}

@media screen and (min-width: 768px)
{
	.public > .header > .menu.show
	{
		height: auto;
		margin-top: 0px;
	}
}

.public > .header > .menu.hide
{
	height: 0px;
	margin-top: 0px;
}

@media screen and (min-width: 768px)
{
	.public > .header > .menu.hide
	{
		height: auto;
	}
}

.public > .header > .menu .crack-ux-button
{
	display: block;
	width: 100%;
	margin-left: 0px;
}

@media screen and (min-width: 768px)
{
	.public > .header > .menu .crack-ux-button
	{
		display: inline-block;
		width: auto;
	}
}

.public > .header > .menu .crack-ux-button .crack-ux-text
{
	padding-bottom: 5px;
}

.public > .header > .menu .crack-ux-button:hover .crack-ux-text
{
	color: var(--primary);
	border-bottom: solid 1px var(--primary);
}